<div *ngIf="!statusesOk" class="wait loader container-fluid">
    <div class="row">
         <div class="col-md-4"  *ngFor="let item of createRange(32)">
          <div class="timeline-wrapper">
            <div class="timeline-item">
              <div class="animated-background">
                  <div class="background-masker image"></div>
                  <div class="background-masker header-bottom"></div>
                  <div class="background-masker paragraph1-bottom"></div>
                  <div class="background-masker paragraph2-bottom"></div>
                  <div class="background-masker paragraph3-bottom"></div>
                  <div class="background-masker paragraph4-bottom"></div>
                  <div class="background-masker paragraph5-bottom"></div>
                  <div class="background-masker paragraph6-bottom"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
 </div>
<main class="main">
  <div class="container-fluid shadow-2 ordered-0">
    <div class="row">
      <div class="col-md-4">
        <h1 class="search_term">{{search_term}}</h1>
      </div>
      <div class="col-md-4">
        <span>Audio</span>

      </div>
      <div class="col-md-4">
        <h1>{{search_term}}</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="searchHasResults">

    
      <div class="row gutter-0">
        <div class="col-md-4">
          <app-updatecard ></app-updatecard>
        </div>
        <div class="col-md-4 no-sm-no">
       <app-usersOnlinecard [limit]="5"></app-usersOnlinecard>
        </div>
        <div class="col-md-4 no-sm-no">
          <div class="padd-me"><app-authcard></app-authcard></div>
        </div>
      </div>
      <!--<div class="ms-home"
        
         infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">-->
      <div class="ms-home">
      <masonry [useImagesLoaded]="true">
     
        <masonry-brick class="col-md-4" *ngFor="let status of searchedObj">
        <app-homecard
        [status]="status"
        (checked)="onStatusChecked($event)"
        >
       </app-homecard>
       <div class="mar-15"></div>
        </masonry-brick>
       
      </masonry>
       
    </div>
  
  </div>
    <div *ngIf="!searchHasResults">
       <div class="alert alert-error"> No search results found! Change your search Criteria</div>
    </div>
</main>
