
<footer class="footer-distributed">

			<div class="footer-left">

				<h3><a href="" class="cd-logo"><img src="assets/img/logo.png" alt="Logo"></a></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="/about">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">idonsuffer &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>124 Mamfe , Manyu Division</span> South West, Cameroon</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+237 702 378 490</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:webmaster@idonsuffer.com">webmaster@idonsuffer.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					We are just a team of like minded people with love for motherland. We are trying to make information about Africa easily available
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>